## Terraform state files
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*

## Terraform variable files (contain secrets)
**/*.tfvars
!**/*.tfvars.example

## Test/downloaded files
function.zip
function-src/
cleanup.sh

## Packer build files
build/
packer/.buildkite/

packer/linux/manifest.json