# Environment variables for Buildkite agent
BUILDKITE_AGENT_TOKEN=$BUILDKITE_TOKEN
BUILDKITE_AGENT_NAME=$BUILDKITE_AGENT_NAME
BUILDKITE_GCP_PROJECT_ID=$PROJECT_ID
BUILDKITE_GCP_ZONE=$ZONE
BUILDKITE_GCP_INSTANCE_NAME=$INSTANCE_NAME
BUILDKITE_GCP_ENABLE_SECRET_MANAGER=$BUILDKITE_GCP_ENABLE_SECRET_MANAGER
