[Unit]
Description=Shared Buildkite Rust compiler cache
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=buildkite-agent
Group=buildkite-agent
EnvironmentFile=/etc/default/sccache
RuntimeDirectory=sccache
RuntimeDirectoryMode=0755
StateDirectory=sccache
StateDirectoryMode=0750
UMask=0000
ExecStart=/usr/local/bin/sccache
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
